/*!modules/css/reset.css*/

/*!
 * =====================================================
 * mobile reset v1.0.2 (http://blog.zwq.me)
 * Copyright 2015 zhangWujiang China
 *
 * v1.0.2 about by 我想静静.
 * =====================================================
 */
*{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
html{font-family:sans-serif;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
body{font-family:"Helvetica Neue",Helvetica,sans-serif;line-height:21px;font-size:14px;color:#333}
article,aside,details,figcaption,figure,dialog,footer,header,hgroup,menu,nav,section,summary,main{display:block}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,code,sub,sup,del,dfn,em,q,dl,dt,dd,ol,ul,li,fieldset,form,legend,caption,tbody,tfoot,thead,article,aside,dialog,figure,footer,header,hgroup,nav,section{margin:0;padding:0}
audio,canvas,progress,video{display:inline-block;vertical-align:baseline}
audio:not([controls]){display:none;height:0}
h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}
[hidden],template{display:none}
abbr[title]{border-bottom:1px dotted}
b,strong{font-weight:700}
dfn{font-style:italic}
mark{background:#ff0;color:#000}
small{font-size:80%}
sub,sup{position:relative;vertical-align:baseline;font-size:75%;line-height:0}
sup{top:-.5em}
sub{bottom:-.25em}
svg:not(:root){overflow:hidden}
figure{margin:1em 40px}
pre{overflow:auto}
code,kbd,pre,samp{font-size:1em;font-family:monospace,monospace}
img{max-width:100%;border:0;vertical-align:middle}
hr{height:1px;border:0;background-color:#ccc}
button,input,optgroup,select,textarea{outline:0;background-color:#fff;font-size:14px;font-family:"Helvetica Neue",Helvetica,sans-serif;-webkit-appearance:none}
input{line-height:normal}
button{overflow:visible}
select{height:auto}
button,select{text-transform:none}
button,html input[type=button],input[type=reset],input[type=submit]{position:relative;display:inline-block;margin-bottom:0;padding:6px 8px 7px;border:1px solid #ccc;border-radius:2px;background-image:-webkit-gradient(linear,0 0,0 100%,from(transparent),color-stop(40%,rgba(0,0,0,.05)),to(rgba(0,0,0,.1)));background-image:-webkit-linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));background-image:linear-gradient(transparent,rgba(0,0,0,.05) 40%,rgba(0,0,0,.1));text-align:center;font-weight:400;line-height:1;cursor:pointer}
button input[type=file]{position:absolute;left:0;top:0;width:100%;height:100%;opacity:0;z-index:1}
button[disabled],html input[disabled]{cursor:default}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0;border:0}
input[type=color],input[type=date],input[type=datetime-local],input[type=datetime],input[type=email],input[type=month],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=time],input[type=url],input[type=week],select,textarea{padding:0 6px;width:100%;height:34px;border:1px solid #ddd;border-radius:2px;line-height:20px}
input[type=checkbox],input[type=radio]{padding:0}
input[type=search]{padding:0 10px;text-align:left;border-radius:20px}
input[type=radio]{-webkit-appearance:radio}
input[type=checkbox]{-webkit-appearance:checkbox}
input[type=range]{-webkit-appearance:slider-horizontal}
input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}
input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
fieldset{padding:.35em .625em .75em;border:1px solid silver}
legend{padding:0;border:0}
textarea{overflow:auto;padding:2px;height:auto}
optgroup{font-weight:700}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0}
ol,ul{list-style:none}
p{margin-bottom:10px}
a{color:#428bca;text-decoration:none;-webkit-tap-highlight-color:transparent}
a:active,a:focus,a:hover{outline:0}
.fix:after{display:table;content:'';clear:both}
.hidden,.hide{display:none}
.block,.show{display:block}
/*!modules/css/common/common.scss*/
.bar{position:absolute;right:0;left:0;z-index:10;height:44px;padding-right:.5rem;padding-left:.5rem;background-color:#f7f7f8;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.bar-tab{bottom:0;width:100%;height:50px;padding:0;table-layout:fixed}
.bar-tab .tab-item{position:relative;display:table-cell;width:1%;height:50px;color:#929292;text-align:center;vertical-align:middle}
.bar-tab{bottom:0}
.bar-nav{top:0}
.bar-tab~.content{bottom:50px}
.bar-nav~.content{top:44px}
.page{box-sizing:border-box;position:absolute;left:0;top:0;width:100%;height:100%;background:#efeff4;display:block;overflow:hidden}
.content{position:absolute;top:0;right:0;bottom:0;left:0;overflow:auto;-webkit-overflow-scrolling:touch}
.content-block{margin:1.75rem 0;padding:0 .75rem;color:#6d6d72}
.title{position:absolute;display:block;width:100%;padding:0;margin:0 -.5rem;font-size:.85rem;font-weight:500;line-height:44px;color:#3d4145;text-align:center;white-space:nowrap}