<!DOCTYPE html>
<html lang="zh-CN">

  <head>
    <link rel="import" href="widget/meta.html?__inline">
    <title>fis3-fee</title>
  </head>

  <body>
    <div class="page">
      <header class="bar bar-nav">
        <h1 class="title">index</h1>
      </header>
      <link rel="import" href="modules/widget/nav.html?__inline">
      <div class="content">
        <div class="content-block">
          <p>hello fis3</p>
          <link rel="import" href="./component/list.html?__inline">
        </div>
      </div>
    </div>
    <script src="lib/mod.js"></script>
    <script>
      require('index.es');
    </script>
  </body>

</html>
