<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<title>fis3-fee</title>

    <link rel="stylesheet" type="text/css" href="../../pkg/lib_c8cc3db.css" />
    <link rel="stylesheet" type="text/css" href="../../pkg/views/star/star_7468572.css" />
</head>
<body>
</div>
<div class="page">
<header class="bar bar-nav">
<h1 class="title">star</h1>
</header>
<nav class="bar bar-tab">
<a class="tab-item external" href="/views/index/">index</a>
<a class="tab-item external" href="/views/test/test.html">test</a>
<a class="tab-item external" href="/views/star/star.html">star</a>
</nav>
<div class="content">
<div class="content-block">
<p>hello fis3 star</p>
<div class="star">
<i class="icon on"></i>
<i class="icon on"></i>
<i class="icon on"></i>
<i class="icon half"></i>
<i class="icon off"></i>
</div>
</div>
</div>
</div>
<script src="../../static/lib/mod_88b9d1d.js"></script>
<script type="text/javascript" src="../../pkg/common_f91bcb2.js"></script>
<script type="text/javascript" src="../../pkg/views/star/star_f16f435.js"></script>
<script>
      require('views/star/star.es')
    </script>
</body>
</html>
