<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
<meta name="format-detection" content="telephone=no">
<title>fis3-fee</title>

    <link rel="stylesheet" type="text/css" href="../../pkg/lib_c8cc3db.css" />
    <link rel="stylesheet" type="text/css" href="../../pkg/views/test/test_8e29e8f.css" />
</head>
<body>
<div class="page">
<header class="bar bar-nav" id="header">
<h1 class="title">test - click me</h1>
</header><nav class="bar bar-tab">
<a class="tab-item external" href="/views/index/">index</a>
<a class="tab-item external" href="/views/test/test.html">test</a>
<a class="tab-item external" href="/views/star/star.html">star</a>
</nav>
<div class="content">
<div class="content-block">
<div class="test">
<p>hello fis3 test</p>
<div id="msg"></div>
<p>
<input type="text" name="" id="ipt">
</p>
<p>
<button id="set">set</button>
<button id="get">get</button>
</p>
<pre id="pre"></pre>
</div>
</div>
</div>
</div>
<script src="../../static/lib/mod_88b9d1d.js"></script>
<script type="text/javascript" src="../../pkg/common_f91bcb2.js"></script>
<script type="text/javascript" src="../../pkg/views/test/test.html_aio_93e077d.js"></script>
<script>
  require('modules/widget/header/header')


      require('views/test/test.es')
      require('views/test/test2.es')
    </script>
</body>
</html>
