<!DOCTYPE html>
<html lang="zh-CN">

  <head>
    <link rel="import" href="widget/meta.html?__inline">
    <title>fis3-fee</title>
  </head>

  <body>

    </div>
    <div class="page">
      <header class="bar bar-nav">
        <h1 class="title">star</h1>
      </header>
      <link rel="import" href="modules/widget/nav.html?__inline">
      <div class="content">
        <div class="content-block">
          <p>hello fis3 star</p>
          <div class="star">
            <i class="icon on"></i>
            <i class="icon on"></i>
            <i class="icon on"></i>
            <i class="icon half"></i>
            <i class="icon off"></i>
          </div>
        </div>
      </div>
    </div>
    <script src="lib/mod.js"></script>
    <script>
      require('./star.es')
    </script>
  </body>

</html>
