<!DOCTYPE html>
<html lang="zh-CN">

  <head>
    <link rel="import" href="widget/meta.html?__inline">
    <title>fis3-fee</title>
  </head>

  <body>
    <div class="page">
      <link rel="import" href="modules/widget/header/header.html?__inline">
      <link rel="import" href="modules/widget/nav.html?__inline">
      <div class="content">
        <div class="content-block">
          <div class="test">
            <p>hello fis3 test</p>
            <div id="msg"></div>
            <p>
              <input type="text" name="" id="ipt">
            </p>
            <p>
              <button id="set">set</button>
              <button id="get">get</button>
            </p>
            <pre id="pre"></pre>
          </div>
        </div>
      </div>
    </div>

    <script src="lib/mod.js"></script>
    <script>
      require('./test.es')
      require('./test2.es')
    </script>
  </body>

</html>
